<div class="confirm">
  <div class="row">
    <h2>注文情報確認</h2>
  </div>

  <%= form_with(model: @order, local: true) do |f| %>

  <div class="row">
    <div class="col-lg-5"><h4>商品名</h4></div>
    <div class="col-lg-2"><h4>単価（税込）</h4></div>
    <div class="col-lg-2"><h4>数量</h4></div>
    <div class="col-lg-2"><h4>小計</h4></div>
  </div>

  <!--  -->
  <!-- 合計金額の変数定義 -->
  <% sum_all = 0 %>
  <% @cart_products.each do |cp| %>
</div>
