<div class="order-show">

  <!-- ここから、注文情報入力画面 -->

  <h2>注文情報入力</h2>

  <%= form_with url: new_client_order_path do |f| %>
    <h3>支払い方法</h3>
    <%= f.radio_button : %>
  <% end %>
  <!-- ここまで -->
</div>
