// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin-product-show{
  width: 90%;


}

#admin_product_new{
  width: 90%;

  h3{
    margin-bottom: 16px;
  }

  select{
    height: 32px;
    width: 200px;
  }

  .field{
    margin-bottom: 8px;
  }

}

#admin_product_edit{
  width: 90%;

  h3{
    margin-bottom: 16px;
  }

  select{
    height: 32px;
    width: 200px;
  }

  .field{
    margin-bottom: 8px;
  }

}
