// Place all the styles related to the client::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 商品一覧のcssここから

.products-index{

  .product_index{
    display: flex;
    align-items:baseline;
    margin-bottom: 32px;

    h2{
      margin-right: 8px;
    }
  }

  .product-box{


    .product{

      .product-image{

      }

      .product-name{

      }

      .product-price{

      }
    }
  }
}

// ここまで


// 商品詳細のcssここから

.product-show{

  .row{

    .product-box{

      .product-name{
        font-size: 2rem;
        padding-bottom: 8px;
      }

      .product-introduction{
        padding-bottom: 16px;
      }

      .product-price{
        display: flex;
        align-items: flex-end;

        .price{
          font-size: 1.3rem;
          padding-right: 10px;
        }
      }

      .select-count{
        display: flex;

        .select{
          display: inline-block;
          padding-right: 12px;
        }

        .submit{
          display: inline-block;
        }
      }
    }
  }
}

// ここまで
