<div id="clientts_about" class="container">
<h1>ながのCake</h1>
<p>ながのCakeは全国発送可能なケーキ屋さんです。<br>
お子様からお年寄りの方までお召し上がりいただけるよう、<br>
様々なバリエーションをご用意しております。<br>
また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
ぜひご注文ください。</p>
<div id="container1" class="slide-box">
				<div id="theTarget">
					<div class="image6"></div>
					<div class="image7"></div>
					<div class="image8"></div>
					<div class="image9"></div>
					<div class="image10"></div>
				</div>
			</div>
</div>
