/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 header{
   width: 100%;
   height: 100px;
   background-color: #FFFF88;
   margin-bottom: 32px;

   .header{
    padding-top: 10px;

     .header-logo{
       background-image: url(cake-logo.jpg);
       background-size: cover;
       background-position: center;
       width: 20%;
       height: 80px;
     }

     .welcom-message{
       line-height: 70px;
     }
   }
 }

 .image1 {
  background-image: url(image1.jpg);
  background-size: contain;
}
.image2 {
  background-image: url(image2.jpg);
  background-size: contain;

}
.image3 {
  background-image: url(image3.jpg);
  background-size: contain;
}
.image4 {
  background-image: url(image4.jpg);
  background-size: contain;
}
.image5 {
  background-image: url(image5.jpg);
  background-size: contain;
}

#container{
  height: 500px;
  width: 600px;
}

.image6 {
  background-image: url(image6.jpg);
  background-size: contain;
}
.image7 {
  background-image: url(image7.jpg);
  background-size: contain;

}
.image8 {
  background-image: url(image8.jpg);
  background-size: contain;
}
.image9 {
  background-image: url(image9.jpg);
  background-size: contain;
}
.image10 {
  background-image: url(image10.jpg);
  background-size: contain;
}

#container1{
  height: 600px;
  width: 600px;
  margin:0 auto ;
}